.sign-up {
    color: #fb8500;
    cursor: pointer;
    width: 80px;
    margin: auto;
}

.sign-up:hover {
    text-decoration: underline;
}

.confirm-pwd,
.btn-sign-up {
    display: none;
}

.container {
    border-radius: 8px;
    color: #ffffff;
}

.user-login {
    border: 1px solid #ffffff;
    padding: 30px;
}

h3 {
    padding: 20px 0px;
}

h6 {
    text-align: center;
}
