body {
    background-color: #14213d;
    padding: 0px;
    padding-top: 100px;
}

.fa {
    cursor: pointer;
}

.alert {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    text-align: center;
    z-index: 100;
    display: none;
}

#message,
#sender-message,
input[type="text"],
input[type="email"],
input[type="password"],
#message:focus,
#sender-message:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-weight: lighter;
}

.btn-primary {
    margin: 5px;
    padding: 5px 25px;
    background-color: #272640;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: rgba(39, 38, 64, 0.6);
    color: #ffffff;
    border: 1px solid #ffffff;
}

.nav-pills {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #14213d !important;
    z-index: 10;
}