body {
    padding: 0px;
    margin: 0px;

    box-sizing: content-box;
}

.menu {
    height: 70px;
    background-color: #cbc0d3;
}

.content {
    width: 100%;
    margin-bottom: 100px;
}

.main_content {
    padding: 0px;
}

.welcoming_text {
    background-color: azure;
    margin: 0px;
}

.filters {
    background-color:beige;
    
}

.items_list {
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
    flex-wrap: wrap;
}
.item {
    width: 325px;
    background-color: #6d597a;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

.item_img {
    position: relative;
}

.item_img img {
    border-radius: 8px;
}

.item_img:hover img {
    filter: blur(2px);
}

.item_img:hover .user_buttons,
.item_img:hover .admin_buttons
 {
    visibility: visible;
}

.admin_buttons {
    visibility: hidden;
    position: absolute;
    top: 15px;
    left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.admin_buttons > div {
    margin-bottom: 5px;
    cursor: pointer;
}

.user_buttons {
    visibility: hidden;
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.user_buttons > div {
    cursor: pointer;
}

.buy_item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #57cc99;
    border-radius: 8px;

}

.item_price {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    border-radius: 8px;
    background-color: #edc4b3;
}

.fa-shopping-cart {
    padding: 8px; color: #61a5c2; background-color: #272640; border-radius: 8px;
}

.fa-sync {
    padding: 8px; color: #90be6d; background-color: #272640; border-radius: 8px;
}

.fa-times {
    padding: 8px 13px ; color: #f94144; background-color: #272640; border-radius: 8px;
}

.right_content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cart {
    padding: 40px 10px;
    margin-top: 20px;
    background-color: #272640;
    border-radius: 8px;
}

.shopping {
    position: relative;
}

.badge {
    position: absolute;
    top: 50px;
    right: 10px;
}

footer {
    height: 60px;
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
}